*{
    padding: 0% ;
    margin: 0% ;
}
body{
    background-color: rgba(0, 0, 255, 0.87);
    
}
.Disney {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
h1{
    font-family:"waltograph42" ;
    font-size: 9em;
    color: rgba(240, 248, 255, 0.863);
}                  

@font-face{
    font-family:"waltograph42" ;
    src: url(../fonts/waltograph42.otf);
}
nav{
    padding: 30px 0px 0px 20px;
}

nav >ul >li {
    list-style: none;
}

nav >ul >Li >a{
    font-family: 'waltograph42', cursive;
    color: rgba(235, 235, 236, 0.87);
    font-size: 3em;
    text-decoration: none ;
}