*{
    padding: 0%;
    margin: 0%;
}

blockquote{
    display: inline-flex ;
}

.box{
    display: inline-flex;    
    width: 110px;
    height: 180px;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 1em;
    text-indent: 2em;
    margin: 30px 10px 0pc 0px;
    padding: 20px;
}
p{
    color: white;
}
.box-1{
    margin-left: 12px;
    text-align: right;
    border: 5px solid rgb(36,102,100) ;
    background-color: #1B4543;
}

.box-2{
    text-align: left;
    border: 5px dotted rgb(10, 41, 18) ;
    background-color: #155034;
}
.box-3{
    text-align: center;
    border: 5px  dashed rgb(27, 26, 53);
    background-color: #2E2C5D
}
.box-4{
    text-align: justify;
    border: 5px double rgb(135, 142, 182) ;
    background-color: #202334 ;
}
.box-5{
    border: 5px groove rgb(70, 31, 97) ;
    background-color: #7D37AB ;
}
